/* WIDTHS */

:root {
    --mobile: 23.4375rem;   /* 375px */
    --middle:56.75rem;      /* 908px */
    --desktop: 90rem;       /* 1440px */
}

/* FONTS  */

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


/* COLORS */

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

/* STYLES */

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
   
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    
}

/* BACKGROUND*/
body {
    background-color: var(--dark-cyan);
    background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);          /* SIZE 978px (61.125rem)*/
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position-x: -16.125rem, 42rem;
    background-position-y: -36rem, 20rem;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    background-image: url(/images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    background-size: 100% 8.75rem;
    margin: 6.25rem auto auto auto;
    width: 21.875rem;
    border-radius: 10px;
    overflow: hidden;
    
}

.imagen {
    margin: 5.4375rem auto auto auto;
}

.imagen > img {
    border-radius: 50%;
    border: 0.3125rem solid white;
    overflow: hidden;
    background-color: white;
}

.name {
    margin: auto;
    word-spacing: 0.1875rem;
}

h1 {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--very-dark-blue);
}

h1 > mark {
    background-color: inherit;
    color: var(--dark-gray);
    font-weight: 400;
}

.name > p {
    text-align: center;
    font-weight: 400;
    color: var(--dark-gray);
    font-size: 0.75rem;
    margin-bottom: 1.5625rem;
}

.stats {
    width: 100%;
    border-top: 0.0625rem solid var(--dark-grayish-blue);

}

.stats > table {
    width: 90%;
    margin: auto;
    text-align: center;
    border: none;
}

.stats th, .stats td {
    width: 33%;
}

.stats th {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--very-dark-blue);
    padding: 1.5625rem 0 0 0;
}

.stats td {
    font-weight: 400;
    color: var(--dark-grayish-blue);
    font-size: 0.625rem;
    letter-spacing: 0.0625rem;
    padding: 0.125rem 0 1.3750rem 0;
}

/* MOBIL DEVICES */

@media screen and (max-width: 908px) {
    .container {
        width: 20.3125rem;
        margin: 9.1875rem auto auto auto;
        
    }
  }

  @media screen and (max-width: 908px) {
      body {
        background-position-x: -46rem, 10rem;
        background-position-y: -40rem, 16rem;
      }
  }